<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>웹툰 종합 페이지</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            naver_webtoon();
        });

        function naver_webtoon() {
            $('#naver_temp').empty()
            $.ajax({
                type: 'GET',
                url: '/naver_webtoon',
                data: {},
                success: function (response) {
                    let rows = response['naver_webtoons']
                    for (let i = 0; i < rows.length; i++) {

                        let rank = rows[i]['rank']
                        let title = rows[i]['title']
                        let sub_title = rows[i]['sub_title']
                        let image = rows[i]['image']
                        let url = rows[i]['url']
                        let temp_html = `<li class="card">
                                                <div class="card_img">
                                                    <a href="${url}" target="_blank">
                                                        <h1 class="card_rank">${rank}</h1>
                                                        <img src="${image}"
                                                                                alt="..." class="webtoon_img">

                                                    </a>
                                                </div>
                                                <div class="card_body">
                                                    <h3 class="card_title">${title}</h3>
                                                    <p class="card_text">${sub_title}</p>
                                                </div>
                                            </li>`
                        $('#naver_temp').append(temp_html)
                    }
                }
            });
        }

        function kakao_webtoon() {
            $('#naver_temp').empty()
            $.ajax({
                type: 'GET',
                url: '/kakao_webtoon',
                data: {},
                success: function (response) {
                    let rows = response['kakao_webtoons']
                    for (let i = 0; i < 18; i++) {

                        let rank = rows[i]['rank']
                        let title = rows[i]['title']
                        let sub_title = rows[i]['sub_title']
                        let image = rows[i]['image']
                        let url = rows[i]['url']
                        let temp_html = `<li class="card">
                                                <div class="card_img">
                                                    <a href="${url}" target="_blank">
                                                        <h1 class="card_rank">${rank}</h1>
                                                        <img src="${image}"
                                                                                alt="..." class="webtoon_img">

                                                    </a>
                                                </div>
                                                <div class="card_body">
                                                    <h3 class="card_title">${title}</h3>
                                                    <p class="card_text">${sub_title}</p>
                                                </div>
                                            </li>`
                        $('#naver_temp').append(temp_html)
                    }
                }
            });
        }

        function lezhin_webtoon() {
            $('#naver_temp').empty()
            $.ajax({
                type: 'GET',
                url: '/lezhin_webtoon',
                data: {},
                success: function (response) {
                    let rows = response['lezhin_webtoons']

                    for (let i = 0; i < 18; i++) {

                        let rank = rows[i]['rank']
                        console.log(rank)
                        let title = rows[i]['title']
                        let sub_title = rows[i]['sub_title']
                        let image = rows[i]['image']
                        let url = rows[i]['url']
                        let temp_html = `<li class="card">
                                                <div class="card_img">
                                                    <a href="${url}" target="_blank">
                                                        <h1 class="card_rank">${rank}</h1>
                                                        <img src="${image}"
                                                                                alt="..." class="webtoon_img">

                                                    </a>
                                                </div>
                                                <div class="card_body">
                                                    <h3 class="card_title">${title}</h3>
                                                    <p class="card_text">${sub_title}</p>
                                                </div>
                                            </li>`
                        $('#naver_temp').append(temp_html)
                    }
                }
            });
        }

        function search() {
            let text = $('#input_search').val()
            console.log(text)
            $('#naver_temp').empty()
            $.ajax({
                type: 'GET',
                url: '/naver_webtoon',
                data: {},
                success: function (response) {

                    let rows = response['naver_webtoons']
                    for (let i = 0; i < rows.length; i++) {

                        let title = rows[i]['title']
                        let sub_title = rows[i]['sub_title']
                        let image = rows[i]['image']
                        let url = rows[i]['url']
                        console.log(title)
                        let search = title.includes(text)
                        console.log(search)
                        if (search == true) {
                            let temp_html = `<li class="card">
                                                <div class="card_img">
                                                    <a href="${url}" target="_blank">
                                                        <img src="${image}"
                                                                                alt="..." class="webtoon_img">

                                                    </a>
                                                </div>
                                                <div class="card_body">
                                                    <h3 class="card_title">${title}</h3>
                                                    <p class="card_text">${sub_title}</p>
                                                </div>
                                            </li>`
                            $('#naver_temp').append(temp_html)
                        } else {
                            continue
                        }
                        // $('#naver_temp').append(temp_html)
                    }
                }
            });
            $.ajax({
                type: 'GET',
                url: '/kakao_webtoon',
                data: {},
                success: function (response) {
                    let rows = response['kakao_webtoons']
                    for (let i = 0; i < 18; i++) {

                        let title = rows[i]['title']
                        let sub_title = rows[i]['sub_title']
                        let image = rows[i]['image']
                        let url = rows[i]['url']
                        console.log(title)
                        let search = title.includes(text)
                        console.log(search)
                        if (search == true) {
                            let temp_html = `<li class="card">
                                                <div class="card_img">
                                                    <a href="${url}" target="_blank">
                                                        <img src="${image}"
                                                                                alt="..." class="webtoon_img">

                                                    </a>
                                                </div>
                                                <div class="card_body">
                                                    <h3 class="card_title">${title}</h3>
                                                    <p class="card_text">${sub_title}</p>
                                                </div>
                                            </li>`
                            $('#naver_temp').append(temp_html)
                        } else {
                            continue
                        }
                        // $('#naver_temp').append(temp_html)
                    }
                }
            })
            $.ajax({
                type: 'GET',
                url: '/lezhin_webtoon',
                data: {},
                success: function (response) {
                    let rows = response['lezhin_webtoons']
                    for (let i = 0; i < 18; i++) {

                        let title = rows[i]['title']
                        let sub_title = rows[i]['sub_title']
                        let image = rows[i]['image']
                        let url = rows[i]['url']
                        console.log(title)
                        let search = title.includes(text)
                        console.log(search)
                        if (search == true) {
                            let temp_html = `<li class="card">
                                                <div class="card_img">
                                                    <a href="${url}" target="_blank">
                                                        <img src="${image}"
                                                                                alt="..." class="webtoon_img">

                                                    </a>
                                                </div>
                                                <div class="card_body">
                                                    <h3 class="card_title">${title}</h3>
                                                    <p class="card_text">${sub_title}</p>
                                                </div>
                                            </li>`
                            $('#naver_temp').append(temp_html)
                        } else {
                            continue
                        }
                        // $('#naver_temp').append(temp_html)
                    }
                }
            })
        }
        function login(){
            let count = 0
        }
        function worning_msg(){
            alert('로그인을 해주세요!')

        }
    </script>
</head>
<body>
<div class="wrap" id="wrap">
    <header>
        <div class="nav">
            <div>
                <a class="logo" id="logo" href="#wrap"></a>
            </div>
            <div>
                <ul class="main_banner_nav">
                    <li><a href="/" onclick="worning_msg()">자유게시판</a></li>
                    <li><a href="login">로그인</a>/<a href="signup">회원가입</a></li>

                </ul>
            </div>
            <div>

            </div>
            <div class="search_area">

                <form>
                    <input id="input_search" type="search" placeholder="  Search" class="search_box">
                </form>
                <span>
                            <button onclick="search()" class="search_button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-search" viewBox="0 0 16 16" >
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </span>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="content_inner">

            <div class="content_nav">
                <ul>
                    <button class="naver_button" onclick="naver_webtoon()">Naver</button>
                </ul>
                <ul>
                    <button class="kakao_button" onclick="kakao_webtoon()">KaKao</button>
                </ul>
                <ul>
                    <button  class="lezhin_button" class="lezhin_button" onclick="lezhin_webtoon()">Lezhin</button>
                </ul>
                <!--                <ul><a href="index.html">★ 즐겨찾기</a></ul>-->
            </div>

            <div class="content_main">
                <ul id="naver_temp">
                    <!--                            <li class="card">-->
                    <!--                                <div class="card_img">-->
                    <!--                                    <a href="index.html">-->
                    <!--                                        <h1 class="card_rank">1</h1>-->
                    <!--                                        <img src="https://i.ytimg.com/vi/lpQ4G1yUWgA/maxresdefault.jpg"-->
                    <!--                                                                alt="..." class="webtoon_img">-->

                    <!--                                    </a>-->
                    <!--                                </div>-->
                    <!--                                <div class="card_body">-->
                    <!--                                    <h3 class="card_title">제목</h3>-->
                    <!--                                    <p class="card_text">작가</p>-->
                    <!--                                </div>-->
                    <!--                            </li>-->


                </ul>
            </div>
        </div>
    </section>

</div>
</body>
</html>